#subscription-form {
    width: 60%;
    margin: auto;
}
#subscription-form h2 {
    display: flex;
    padding: 5px 3px 0 3px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}
#subs-items {
    display: flex;
    flex-direction: column;
    padding: 5px 3px 0 3px;
    background-color: #f1f1df;
}
#subs-items h3 {
    margin-bottom: -5px;
    margin-top: 5px;
    margin-left: 10px;
    padding-bottom: 0;
    font-style: italic;
}
.form-item, #name-item, #email-item, #pass-item, #rpass-item, #age-item, #telephone-item, #adress-item, #city-item, #zip-item, #dni-item {
    width: 90%;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 0;
}
#message, #email-message, #pass-message, #rpass-message, #age-message, #tel-message, #adress-message, #city-message, #zip-message, #dni-message {
    margin-left: 10px;
    padding-top: 3px;
    font-style: italic;
    color: #ff0000;
    font-size: 10px;
}
.submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 6px 4px 6px;
    background-color: #ff6500;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
@media(min-width:768px) {
    #subs-items {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 8px;
    }
    .column1 {
        flex: 50%;
    }
    .column2 {
        flex: 50%;
    }
    .submit-btn {
        flex: 100%;
        align-content: flex-end;
    }
}